.img-circular {
  border-radius: 50%;
  height: 100px;
  width: 160px;
  padding-right: 2em;
}
.publicacion{
  background-color: rgb(226, 221, 221);
  padding-top: 1em;
  padding-left: 0.5em;
}
.texto-titulo{
 display: inline;
}
.titulo{
  display: inline;
}
.botones{
  padding-top: 1.8em;
  padding-right: 2em;
  float: right;
  display: inline;
}
.img-cuadrada{
  border-radius: 25%;
  width: 400px; 
  height: 550px;
}
.detalles{
  height: 470px;
  background-color: rgb(226, 221, 221);
  border-radius: 5%;
}
.titulo-centrado{
    text-align: center;
}
.texto-descripcion{
  height: 320px;
  overflow: auto;
}